<div class="footer-container">
    <div class="footer-logo">
        <%= image_tag "logo", class: "logo-footer" %>
    </div>

    <div class="footer-pages">
    <ul>
    <li>Pages</li>
    <br>
    <li><%= link_to "Home", root_path %></li>
    <li>About</li>
    <li>Contact</li>
    </ul>
    </div>

    <div class="footer-blogposts">
    <ul>
        <li>Blog posts</li>
        <br>
        <li>How to rent?</li>
        <li>How to host?</li>
        <li>Insurance</li>
    </ul>
    </div>
    <div class="footer-icons">
        <%= image_tag "facebook" %>
        <%= image_tag "instagram" %>
        <%= image_tag "reddit" %>
    </div>
</div>