<div class="footer-container">
    <div class="footer-logo">
        <%= image_tag "logo-bookaboat.png", class: "logo-footer" %>
    </div>

    <div class="footer-pages">
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <li>About</li>
    <li>Contact</li>
    </ul>
    </div>

    <div class="footer-blogposts">
    <ul>
        <li>How to rent</li>
        <li>How to host</li>
        <li>Insurance</li>
    </ul>
    </div>
    <div class="footer-icons">
        <%= image_tag "facebook.svg" %>
        <%= image_tag "instagram.svg" %>
        <%= image_tag "reddit.svg" %>
    </div>
</div>
