<%= render 'banner' %>

<h2 class="text-center margin-fix">Boats near you</h2>
  <div class="cards-grid p-5">
    <% @boats.each do |boat| %>
        <%= link_to boat_path(boat), { class: 'fade-in' } do %>
        <div class="card-boat">

          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1576638994386-8bce04e2f4cb?  ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=651&q=80"/>
          <% end %>

          <div class="card-boat-infos">
            <div>
              <h2><%= boat.name %></h2>
              <p><%= boat.description %></p>
            </div>
            <h4>€<%= boat.price %>/day</h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<div class="text-center mb-5 d-flex justify-content-center">
  <%= link_to 'All boats', boats_path, class: "button-styling" %>
</div>

<hr>

  <h3 class="text-center mt-5">Book a boat the simple way</h3>

  <div class="home-cards mt-4">
    <div class="home-card">
        <i class="fas fa-compass fa-3x mb-2"></i>
        <h4>Select a location</h4>
        <p>Where are you? Start typing your location to see the offers available in each area.</p>
    </div>
    <div class="home-card">
        <i class="fas fa-anchor fa-3x mb-2"></i>
        <h4>Pick your boat</h4>
        <p>What are you looking for? Browse the boat and choose the one that suits your plans.</p>
    </div>
    <div class="home-card">
        <i class="fas fa-ticket-alt fa-3x mb-2"></i>
        <h4>Book and enjoy</h4>
        <p>Book your boat and get ready for the trip. A Bookaboat ticket just landed in your inbox!</p>
    </div>
  </div>


