<div class="static-img"></div>
<div class="form-container margin-top-negative mb-5">
  <h1 class="text-center mt-2">Create a new boat</h1>

  <%= simple_form_for(@boat) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :address %>
    <%= f.input :capacity %>
    <%= f.input :description %>
    <%= f.submit class: "button-styling border border-white" %>
  <% end %>
</div>
