

<div class="boat-show">

  <% if @boat.photo.attached? %>
    <div class="boat-banner-image" style="background-image: url('<%= cl_image_path @boat.photo.key, height: 500, crop: :scale %>')">
    </div>
  <% else %>
    <div class="boat-banner-image">
      <img src="https://images.unsplash.com/photo-1576638994386-8bce04e2f4cb?  ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=651&q=80"/>
    </div>
  <% end %>

  <br>

  <div class="boat-title-price">
  <h4><%= @boat.name %> </h4>
  <h4>€<%= @boat.price %> </h4>
  </div>
  <hr>
  <div class="info-section">
  <p><%= @boat.description %> </p>
  <%= simple_form_for([@boat, @booking]) do |f| %>
    <%= f.input :booking_date %>
    <%= f.input :guests, collection: 1..(@boat.capacity) %>
    <%= f.submit class: "button-styling border border-white" %>
  <% end %>
  </div>
</div>
<br>
<div class="d-flex">
  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
